/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.sblueheadbtn {
    background: #009999;
    border: 1px solid #0AA699;
}

.sbluesubbtn {
    color: #ffffff;
    background-color:#009999;
    border-color: #0AA699;
}

#donuts{ width:100%; white-space:nowrap; }
#donuts div{ display:inline-block; width:33.3%;}
#donut_graph1{ text-align:left; }
#donut_graph2{ text-align:center; }
#donut_graph3{ text-align:right; }