{%extends 'wiki/_base.html' %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
{#    ## Insert HTML Fragment Starting Here###}
    <div class="span2 well">
      <h1><strong>Contacts</strong></h1>
        <p><br />
      Prior to creating an event, it is important to  create at least one contact.  This  contact person will be the point of contact for shipping information for the  event.</p>
      <h2><strong> Adding a new Contact</strong></h2>
      <p><br />
      To add a new contact to the system:</p>
      <ul>
          <li>
            <p>Click <strong>Tables</strong> and then click <strong>Contacts.</strong></p>
          </li>
          <li>
            <p>Click <strong>Add Contact</strong> button in the left  corner.</p>
          </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/contact_add.PNG" width="1093" height="517" /></p>

      <ul>
        <li>
          <p></a>Fill  out Basic Information page, which includes: First Name, Last Name, phone  number, email, and company they work for.   <strong>NOTE</strong>: fields marked with asterisk cannot be left blank.</p>
        </li>
        <li>
          <p>Click  on Shipping Address tab and enter the shipping information for this contact.</p>
        </li>
        <li>
          <p>Click <strong>Save</strong></p>
        </li>
      </ul>
</div>
{#     ## Insert HTML Fragment ending Here###}

{% endblock %}