{%extends 'wiki/_base.html' %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
{#    ## Insert HTML Fragment Starting Here###}
    <div class="span2 well">
        <h1>Events</h1>
        <p>To open the Events Calendar, click on the Event  menu item.</p>
      <p>The Event Calendar  allows you to view information about ongoing and upcoming events as  well as add new events. </p>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/events_calendar.PNG" /></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h2>Creating an Event&nbsp;</h2>
      <ul>
        <li>
          <p>Click on the <strong>Add Event </strong>button.          </p>
        </li>
        <li>
          <p>        New page will open  with fields for information related to the event
          </p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/add_edit_event.PNG" width="1168" height="627" /></p>
      <p>&nbsp;</p>
      <ul>
        <li>
          <p>In the <strong>Title</strong> field enter the event's name (i.e. Lockheed-Martin Design  Training).</p>
        </li>
        <li>
          <p>For <strong>Start* </strong>enter or use the pop-up calendar to select start date (i.e.  2015-12.16).</p>
        </li>
        <li>
          <p>For <strong>End* </strong>enter or use the pop-up calendar to select end date (i.e.  2015-12-18).</p>
        </li>
        <li>
          <p>If the event will last entire day,  check the <strong>All day </strong>option</p>
        </li>
        <li>
          <p><strong>Next  Event </strong>allows you to select the following event the  hardware will be sent to.</p>
        </li>
        <li>
          <p><strong>Pool</strong> field should be left on Default Pool.</p>
        </li>
        <li>
          <p>Click on the &quot;Shipping&quot;  tab.  This allows you to enter related  shipping information.</p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/shipping_tab.PNG" width="1096" height="943" /></p>
      <p>&nbsp;</p>
      <ul>
        <li>
          <p>In the <strong>Date Shipped </strong>field enter or use the pop-up calendar to select  2015-12-16</p>
        </li>
        <li>
          <p><strong>Airbills  To Event </strong>- airbill information for shipment sent to the  event (i.e. airbill #: 222335888887989)</p>
        </li>
        <li>
          <p><strong>Airbills  From Event </strong>- airbill information for shipment returning  from the event (i.e. airbill #: 54987889987888)</p>
        </li>
        <li>
          <p><strong>CaseAssigned </strong>allows  you to select a shipping case that has been assigned to this event. (In this  case there aren't any cases assigned)</p>
        </li>
        <li>
          <p>Click on the next tab labeled  &quot;Details&quot;. This page contains additional information about the event  and requested hardware</p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/details_tab.PNG" width="1102" height="496" /></p>
      <ul>
        <li>
          <p>In the <strong>Site</strong> field enter the name of client's site where the event will  take place (i.e. Lockheed - Martin Collinsville)</p>
        </li>
        <li>
          <p><strong>Seat  Revenue </strong>is the calculated revenue from laptop sent to the  event. It can be left blank if unknown.</p>
        </li>
        <li>
          <p><strong>Projector  Revenue </strong>is the calculated revenue from each projector sent  to the event. It can be left blank if unknown.</p>
        </li>
        <li>
          <p><strong>Laptops  Requested </strong>is the number of laptops the client has requested  for the event.</p>
        </li>
        <li>
          <p>If client requested projectors, then  check the <strong>Projector Requested</strong> option</p>
        </li>
        <li>
          <p><strong>Config  Assigned </strong>is the name of saved configuration for  laptops.  There isn't one for this event,  so there's nothing to select.</p>
        </li>
        <li>
          <p>Next, click on the  &quot;Contacts&quot; tab.  This tab  allows you to select the shipping contact and the instructor for the event.</p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/contact_tab.PNG" width="1102" height="483" /></p>
      <p>&nbsp;</p>
      <ul>
        <li>
          <p>For <strong>Shipping Contact</strong> use the drop-down list to select Bruce Tanner.</p>
        </li>
        <li>
          <p>Under <strong>Instructor Contact</strong> scroll down the list and click on Bruce Tanner  to select him as the instructor for the event.</p>
        </li>
        <li>
          <p>Finally, click on the Hardware Tab to  select hardware which will be sent out to the event.</p>
        </li>
        <li>
          <p>        Under Hardware,  select six Dell laptops
          </p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/hardware_tab.PNG" width="578" height="651" /></p>
      <ul>
        <li>
          <p>To remove hardware from the list,  click on the item you wish to remove and it will be removed automatically.</p>
        </li>
        <li>
          <p>        Click on the <strong>Save </strong>button to save all the information  you entered and create the event.
          </p>
        </li>
      </ul>
      <p>&nbsp;</p>
      <h2>Editing an Event</h2>
      <p>To edit an event:</p>
      <ul>
        <li>
          <p>Click  on the Events menu-item to go to the Events calendar</p>
        </li>
        <li>
          <p>Select  the event you wish to edit        </p>
        </li>
      </ul>
</div>
{#     ## Insert HTML Fragment ending Here###}

{% endblock %}