{%extends 'wiki/_base.html' %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
{#    ## Insert HTML Fragment Starting Here###}
    <div class="span2 well">
        <h1>Checkout/Check-in  Hardware</h1>
        <p>To prevent the same  hardware from being mistakenly selected for more than one event, it is  important to checkout hardware out of the system.  This reserves the hardware to the specific  event and it will no longer appear on the list of hardware when creating a new  event.<br />
Likewise, once  hardware comes back from an event, it should be checked in so it is available  for the next event.</p>
      <p>&nbsp;</p>
        <h2><strong>Check-out Hardware</strong></h2>
      <p>To check out the  selected hardware for the event we created:</p>
        <ul>
          <li>
            <p>Click  on the Events link to go back to the Events calendar</p>
          </li>
          <li>
            <p>Click  on the event you wish to checkout hardware for (i.e. Lockheed-Martin Design  Training)</p>
          </li>
          <li>
            <p>Click  on the Checkout Hardware button (above Basic Information tab)</p>
          </li>
        </ul>
        <p><img src="http://onsen.tech-res.net/static/img/wiki/checkout1.PNG" width="1105" height="625" /></p>
        <ul>
          <li>
            <p>On the following page we'll see a list of all the  hardware we selected when we created the event
            </p>
          </li>
          <li>
            <p>Select each box for each piece of hardware to be  checked out and then click <strong>Checkout.</strong></p>
          </li>
        </ul>
        <p>&nbsp;</p>
        <h2><strong>Check-In Hardware</strong></h2>
      <p>To check-in hardware  once it comes back from an event:</p>
      <ul>
        <li>
          <p>Click  on the Event on the Calendar</p>
        </li>
        <li>
          <p>Click  on the <strong>Check-in Hardware </strong>button  (above Shipping tab)</p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/checkin1.PNG" width="1099" height="619" /></p>
      <ul>
        <li>
          <p>Next page will display a list of all the hardware that  was checked out to that event.  To check  the hardware back into the system, select each hardware item and click on the <strong>Check in </strong>button</p>
        </li>
      </ul>
      <p>&nbsp;</p>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/checkin_hardware.PNG" width="1674" height="429" /></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1>Printing Forms</h1>
      <p>Application  can generate certain forms related to the event.  These forms include Shipping Request Form and  Packing Sheet.  These forms can be  printed or saved as PDF files.</p>
      <p>&nbsp;</p>
      <h2><strong>Shipping  Request Form</strong></h2>
      <p><br />
        To generate a Shipping Request Form:</p>
      <ul>
        <li>
          <p>Click  on an event for which you wish to generate the form</p>
        </li>
        <li>
          <p>        Click on the <strong>Shipping Request Form</strong> above the  Contacts Tab    </p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/shipping_request_form.PNG" width="1343" height="422" /></p>
      <ul>
        <li>
          <p>Application  will automatically generate a PDF file and open it a new page</p>
        </li>
        <li>
          <p>        Generated form can  now be printed out or saved to the computer as PDF
          </p>
          <p>&nbsp;</p>
        </li>
      </ul>
      <h2>Packing Sheet      </h2>
      <p>To generate a Packing  Sheet:</p>
      <ul>
        <li>
          <p>        Click on the <strong>Packing Sheet</strong> button
          </p>
        </li>
        <li>
          <p>This will automatically generate a Packing Sheet PDF  and open it in a new page</p>
        </li>
      </ul>
      <p><img src="http://onsen.tech-res.net/static/img/wiki/packing_sheet_form.PNG" width="822" height="604" /></p>
      <p>&nbsp;</p>
</div>
{#     ## Insert HTML Fragment ending Here###}

{% endblock %}