{%extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Event - {% endblock %}

{% block style %}

{% endblock %}
{% block page_js %}
{#        <script src="{% static 'js/jquery.min.js' %}"></script>#}

        <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
{#    ## test ami HERE###}
        <link href="{% static 'css/better-filter-widget.css'%}" rel="stylesheet">
        <script src="{% static 'js/better-filter-widget.js'%}"></script>

    {{ form.media }}
{% endblock %}
 {%  block content %}

         <div class="row">
            <div class="col-sm-8" >

                <form method="POST" action=""> {% csrf_token %}
                    <p>
                        {% if evID %}
                        <input class='btn btn-default' onclick="window.location.href='{% url "event_srf_pdf" uuid=evID %}'" value='Shipping Request Form' />
                        <input class='btn btn-default' onclick="window.location.href='{% url "event_packing_pdf" uuid=evID %}'" value='Packing Sheet' />
                        {% endif %}

                        <input class='btn btn-default btn-primary' type="submit" value="Submit" name="_save">
                    </p>
                    {% crispy form %}



                </form>

            </div>
        </div>

 {% endblock %}